<!DOCTYPE html>
<html>
  <head>
    <title>apocalism.js page</title>
    <style type="text/css">{{{cssString}}}</style>
  </head>
  <body class="{{classString}}">
    <div id="container">
      {{! this gets filled out by the paginator }}
    </div>
    {{#if pageNumber}}
    <div id='page-number'>{{pageNumber}}</div>
    {{/if}}
  </body>
</html>
