<!DOCTYPE html>
<html>
  <head>
    <title>apocalism.js page</title>
    <style type="text/css">{{{cssString}}}</style>
  </head>
  <body class="page-container {{#each classes}}{{this}} {{/each}}">
    <div class="text-block">
      {{! this gets filled out by the paginator }}
    </div>
    {{#if pageNumber}}
    <div class='page-number'>{{pageNumber}}</div>
    {{/if}}
  </body>
</html>
