/* fonts */

@font-face {
  font-family: "dejavuserif";
  src: url(fonts/DejaVuSerif.ttf);
}

@font-face {
  font-family: "dejavuserif";
  src: url(fonts/DejaVuSerif-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "dejavuserif";
  src: url(fonts/DejaVuSerif-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "dejavuserif";
  src: url(fonts/DejaVuSerif-BoldItalic.ttf);
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "dejavusans";
  src: url(fonts/DejaVuSans.ttf);
}

@font-face {
  font-family: "dejavusans";
  src: url(fonts/DejaVuSans-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "dejavusans";
  src: url(fonts/DejaVuSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "dejavusans";
  src: url(fonts/DejaVuSans-BoldItalic.ttf);
  font-style: italic;
  font-weight: bold;
}

/* vars */

/*
the following are injected before compiling:
  $stock-width
  $stock-height
  $bleed
  $margin-top
  $margin-bottom
  $margin-outer
  $margin-spine
*/

/* page layout */

$text-block-width: $stock-width + $bleed * 2 - ($margin-outer + $margin-spine);
$text-block-height: $stock-height + $bleed * 2 - ($margin-top + $margin-bottom);

body {
  width: $text-block-width * 1mm;
  height: $text-block-height * 1mm;
  padding-top: $margin-top * 1mm;
  padding-bottom: $margin-bottom * 1mm;
	padding-left: $margin-outer * 1mm;
	padding-right: $margin-outer * 1mm;
  &.recto {
    padding-left: $margin-spine * 1mm;
    padding-right: $margin-outer * 1mm;
  }
  &.verso {
    padding-left: $margin-outer * 1mm;
    padding-right: $margin-spine * 1mm;
  }
  &.body, &.front-matter, &.back-matter {
    img {
      position: relative;
    }
  }
  &.front-cover, &.back-cover {
    #container {
      position: static;

      img {
        top: 0;
        left: 0;
        position: absolute;
      }
    }
  }
}

#container {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: relative;
}

#page-number {
  font-family: "dejavuserif", sans-serif;
  position: absolute;
  bottom: 10mm;
  width: 10mm;
  text-align: center;
  left: 50%;
  margin-left: -5mm;

  // until I figure out some kind of pagination scheme for this
  .front-matter &, .back-matter & {
    display: none;
  }
}

/* styles */
h1, h2, h3, h4, h5 {
  font-family: "dejavuserif", sans-serif;
}

p {
  font-family: "dejavuserif", sans-serif;
  font-size: 12pt;
  line-height: 1.5em;
  text-indent: 1.5em;
  padding: 0px;
  margin: 0px;

  .body & {
    &.contd, &.opening, hr + & {
      text-indent: 0;
    }

    &.opening:first-letter {
      float: left;
      font-size: 58pt;
      padding: 0 4pt 0 0;
      line-height: 58pt;
      margin-bottom: -10pt;
    }
  }
}

hr {
  border: 0;
  margin-bottom: 3em;

  // hr at the beginning or end of page
  // needs to be graphical
  &:first-child, &:last-child {
    margin: 1em auto;
	width: 30mm;
	position: relative;
	text-align: center;
	&:after {
	  font-family: "dejavuserif", sans-serif;
      font-size: 12pt;
	  position: relative;
      content: "* * *";
    }
  }
}
