p.horrible {
  color: #ff0;
}

p.byline:before {
  content: "\2014"; // this is an em dash
  padding-right: 1em;
}

em.big {
  font-size: 3em;
}

.body.page-3 {
  background-color: #ffc;

  .image-duck:nth-of-type(2) {
    float: right;
  }
}
