/* fonts */

@font-face {
  font-family: "dejavuserif";
  src: url(fonts/DejaVuSerif.ttf);
}

@font-face {
  font-family: "dejavuserif";
  src: url(fonts/DejaVuSerif-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "dejavuserif";
  src: url(fonts/DejaVuSerif-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "dejavuserif";
  src: url(fonts/DejaVuSerif-BoldItalic.ttf);
  font-style: italic;
  font-weight: bold;
}

/* vars */

/*
the following are injected before compiling:
  $stock-width
  $stock-height
  $stock-bleed
  $margin-top
  $margin-bottom
  $margin-outer
  $margin-spine
*/

/* page layout */

body {
  width: $stock-width + $stock-bleed * 2 - ($margin-outer + $margin-spine) * 1mm;
  height: $stock-height + $stock-bleed * 2 - ($margin-top + $margin-bottom) * 1mm;
  padding: $margin-top * 1mm;
}

#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* styles */

p {
  font-family: "dejavuserif", sans-serif;
  font-size: 11pt;
  line-height: 1.5em;
  text-indent: 1.5em;
  text-align: justify;
  padding: 0px;
  margin: 0px;

  &.contd, &.opening, hr + & {
    text-indent: 0;
  }

  &.opening:first-letter {
    float: left;
    font-size: 53pt;
    padding: 0 4pt 0 0;
    line-height: 53pt;
    margin-bottom: -10pt;
  }
}

hr {
  border: 0;
  margin-bottom: 3em;
}
