<!DOCTYPE html>
<html>
  <head>
    <title>apocalism.js</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <meta charset="utf-8">
  </head>
  <body>
    {{#each pages}}
      {{> page}}
    {{/each}}
  </body>
</html>
